<body>

 <div class="picture">
  <image src="../../../assets/top画像.jpeg" class="a" >
 </div>

 <div class="about-beaver">
 <p class="beaver">
  <br>
  <br>
  近年、映画『東京リベンジャーズ』の主題歌を務めるなど、<br>
  注目を集めている4人組ロックバンドSUPER BEAVER<br>
  <br>
  2009年にメジャーデビューしたが、1度インディーズに戻り、<br>
  2020年に再びメジャーデビューを果たした。<br>
  今までの経験を生かしたまっすぐな歌詞と心のこもった演奏は<br>
  多くの人に勇気や希望を与えているはずだ。<br>
  <br>
  <br>
  このサイトは、そんな彼らへの愛や感謝を綴るためのサイトである。

  
 </p>
 </div>

 

</body>